@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400&display=swap');

.list-post img {
     max-width: 600px;
     width: 100%;
}
.post-meta {
     margin: 10px 0;
     font-size: 14px;
     font-weight: bold;
}
.read-more {
     margin: 20px 0 35px;
}
.read-more a {
     text-decoration: underline;
     font-size: 20px;
     font-weight: bold;
}
.blog-post img {
     max-width: 400px;
     margin-bottom: 20px;
     width: 100%;
}
.blog-post img.alignnone, .blog-post img.aligncenter {
     clear: both;
     max-width: 1200px;
     margin:0 auto 20px;
}
.blog-post img.alignleft {
     float: left;
     margin: 0 30px 30px 0;
     max-width: 275px;
}
.blog-post p {
     margin-bottom: 20px;
     line-height: 1.8;
}
@media screen and (max-width: 600px) {
     .blog-post img.alignleft {
          float: none;
          margin: 20px 0;
          max-width: 100%;
          clear: both;
     }
}
@layer components {

     .bg-hero {
          @apply w-full h-80 md:h-[60vh];
     }

     .dealer-logo {
          @apply brightness-0 dark:invert opacity-30 hover:opacity-100 max-w-[130px] mx-auto block transition-all;
     }

     .visually-hidden {
          @apply absolute w-px h-px p-0 -m-px overflow-hidden whitespace-nowrap border-0;
     }

     .flex-center {
          @apply flex items-center justify-center;
     }

     .flex-between {
          @apply flex items-center justify-between;
     }

     .flex-around {
          @apply flex items-center justify-around;
     }
}